/*
 *	Guy Moore
 */

/************
	GENERAL
 ************/

html
{
	font-size: 16px;
}

#wrapper
{
	max-width: 720px;
	margin: auto;
}

.logoBar
{
	margin: 2em 0;
}
.logoBar img
{
	display: block;
	margin: 10px auto;
}


/************
	HEADER
 ************/

header
{
	border: solid .075em #AAA;
	text-align: center;	
	

	
	/* Make the heading take up the entire page */
	width: 100%;
	margin: .5em 0;
}

header h3
{
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	letter-spacing: 0.1em;
	font-size: 2rem;
}

/* To clear werid padding issues in fireofox. */
nav ul
{
	padding-left: 0;
}

nav li
{
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.2em;

	display: inline-block;
	margin: 0 .5em;
}	



/************
	FOOTER 
 ************/

footer
{
	font-size: .75em;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;

	clear: both;
	

}

/********************
	FORM		
 ********************/
.signUpBox
{
	width: 75%;
	margin: 0 auto;

	font-size: 1em;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;

}
.signUpBox h3
{
	text-align: center;
}

.signUpBox input
{
	width: 50%;
	border-radius: 5px;
	padding: .5rem;
	margin: .5rem 0;
	
}
.button
{
	background-color:#337ab7;
	color: #FFF;
}


/************
	COLOR 
 ************/

header
{
	background-color: #337ab7;
}

body
{
	background-color: #eee;
}
