/******************************************
	GENERAL
******************************************/

#wrapper
{
	max-width: 100%;	
}

.mainBody
{
	
	background-image: url(../img/pantryBackground.jpg);
	background-size: 100% 100%;
	width: 100%;
}

/******************************************
	BODY	
******************************************/


.container1
{
	height: 1000px;
}	
/***************************************
	HEADER	
***************************************/
img
{
	width: 200px;
}

header
{
	padding: 3rem 3rem;
}

header .left
{
	float: left;
}

header .right
{
	float: right;
}

header h3
{	
	display: block;
	font-family: "Oswald", sans-serif; 
	font-weight: 400;
	font-size: 3.5rem;

	
	padding: 10px;

	top: 0;
	border-radius: 5px;
}

/* color */

header h3
{
	
	color: #A68F4C;
/* #E6D4A7 */
	background-color: #411A13;

	
}

/***************************************
	FOOTER
***************************************/

footer
{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
