/*
 *	Guy Moore
 */

/************
	GENERAL
 ************/

html
{
	font-size: 16px;
}

#wrapper
{
	max-width: 720px;
	margin: auto;
}



/************
	HEADER
 ************/

header
{
	border: solid .075em black;
	text-align: center;	
	padding: .25em 0;
}

header h3
{
	font-family: "Oswald", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
}

/* To clear werid padding issues in fireofox. */
nav ul
{
	padding-left: 0;
}

nav li
{
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.2em;

	display: inline-block;
	margin: 0 .5em;
}	



/************
	FOOTER 
 ************/

footer
{
	font-size: .75em;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	

}

/********************
	SIDEBAR	
 ********************/

#sidebar
{
	position: fixed;
	width: 6em;
}

#logo img
{
	max-width: 6em;
}

#contentOptions ul
{
	padding: 0 0;
}

#contentOptions li
{
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;

	list-style: none;	
	margin: 1em 0;
}

/********************
	MAINBODY	
 ********************/

#mainBody
{
	float: left;
	display: inline;
	padding: 0 0 0 7em;
}

/************************ 
	CURRENT PANTRY TABLE	
 ************************/

#currentPantry
{
	margin: .5em auto;
	border: 1px solid black;
	
	font-family: "Oswald", sans-serif;
	
	width: 100%;
}



#currentPantry td
{
	border: 1px solid #AAA;
	padding: 0.25em;
}


/************
	COLOR 
 ************/

body
{
	background-color: white;
}
